.grid-container {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.grid-item {
    border: 1px solid #222;
    color: #222;
    width: .875rem;
    height: .875rem;
    cursor: pointer;
}

.grid-item.active{
    background-color: #222;
}
.grid-item.origem{
    background-color: green !important;
}
.grid-item.destino{
    background-color: red !important;
}